doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Coloscheme switcher
    link(rel="icon" href="data:,")
    link(rel='stylesheet' href='/css/style.css')
    if color
      link(rel='stylesheet' href='/css/' + color + '.css')

  body
    block content
