body {
  color: var(--color);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl","calt";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

body {
  background-color: var(--background-green);
}

h1, h2, h3 {
  color: var(--accent-green);
}

:root {
  --accent-red: #fff;
  --accent-yellow: #fff;
  --accent-green: #fff;
  --accent-blue: #fff;
  --accent-purple: #fff;
  --background-red: rgb(0, 0, 0);
  --background-yellow: rgb(0, 0, 0);
  --background-green: rgb(0, 0, 0);
  --background-blue: rgb(0, 0, 0);
  --background-purple: rgb(0, 0, 0);
  --color: #fff;
}
